# Server Configuration
server:
  port: 8080

# Kafka Configuration - OpenShift CRC
spring:
  application:
    name: kafka-orders-app
  kafka:
    # add test-cluster-kafka-bootstrap-kafka.apps-crc.testing to windows hosts file
    # add test-cluster-test-cluster-controller-pool-0-kafka.apps-crc.testing to windows hosts file
    bootstrap-servers: test-cluster-kafka-bootstrap-kafka.apps-crc.testing:443
    consumer:
      group-id: app-consumer-group
    # Kafka Security - SCRAM-SHA-512 with TLS (tls: true in Kafka config)
    security:
      protocol: SASL_SSL
    properties:
      # Kafka properties use dot notation as keys
      sasl.mechanism: SCRAM-SHA-512
      sasl.jaas.config: 'org.apache.kafka.common.security.scram.ScramLoginModule required username="test-app-client" password="KHA0coNQtL2yH7dD3y68SHKPwNBTJi3E";'
      ssl.truststore.location: classpath:kafka-truststore.jks
      ssl.truststore.password: changeit
      ssl.endpoint.identification.algorithm: ""

# Logging
logging:
  level:
    com.example.kafka: INFO
    org.apache.kafka: WARN
    org.springframework.kafka: INFO

